# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

SwingEngine/ThirdPartyLibs/Lib/Debug/*.lib
SwingEngine/ThirdPartyLibs/Lib/Release/*.lib
SwingEngine/GUIFramework/Debug/*.*
SwingEngine/GUIFramework/Release/*.*
SwingEngine/ThirdPartyLibs/zlib/Temp
SwingEngine/SDK/Include/*.h
SwingEngine/SDK/Include/*.inl
SwingEngine/SDK/Lib/Debug/*.*
SwingEngine/SDK/Lib/DebugDLL/*.*
SwingEngine/SDK/Lib/DebugMemory/*.*
SwingEngine/SDK/Lib/Release/*.*
SwingEngine/SDK/Lib/ReleaseDLL/*.*
SwingEngine/SDK/Lib/ReleaseMemory/*.*
*.exe
*.idb
*.ilk
*.log
*.pdb
*.db
*.obj
!SwingEngine/Bin/OBJ/dabrovic-sponza/*.obj
!SwingEngine/Bin/OBJ/crytek-sponza/*.obj
!SwingEngine/Bin/OBJ/elephant-gallop/*.obj
!SwingEngine/Bin/OBJ/sibenik/*.obj
!SwingEngine/Bin/OBJ/*.*
*.tlog
*.ipch
*.pch
*.sdf
*.suo
*.user
*.exp
*.opensdf
*.metagen
*.cso
*.cache
SwingEngine/Bin/GUIFramework.dll
!SwingEngine/Bin/protoc.exe
*.asm
*.cd